@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');
@import url('https://fonts.googleapis.com/css?family=Fahkwang');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Text+Me+One');

html {
  overflow-x: hidden;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.15);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.25);
}

.font-sans-serif {
  font-family: sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-roboto-slab {
  font-family: 'Roboto Slab', sans-serif;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.font-chakra-petch {
  font-family: 'Chakra Petch', sans-serif;
}

.font-bai-jamjuree {
  font-family: 'Bai Jamjuree', sans-serif;
}

.font-fahkwang {
  font-family: 'Fahkwang', sans-serif;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-text-me-one {
  font-family: 'Text Me One', sans-serif;
}

#title-container {
  color: white;
  text-shadow: 0 0 5px #000;
}

.img-link img {
  width: 100%;
  height: auto;
  vertical-align: middle
}

.action-button {
  background-color: #eaa615;
  border-color: #d69713;
  z-index: 1;
}

.action-button:hover {
  background-color: #cc9012;
}

.btn {
  border-radius: .5rem;
}

.btn-sm {
  border-radius: .3rem;
}

.btn-primary:hover:not(.no-shadow) {
  box-shadow: 0px 0px 10px -1px rgb(0, 112, 232);
}

.btn-secondary:hover:not(.no-shadow) {
  box-shadow: 0px 0px 10px -1px rgb(105, 114, 122);
}

.btn-success:hover:not(.no-shadow) {
  box-shadow: 0px 0px 10px -1px rgb(40, 167, 69);
}

.btn-danger:hover:not(.no-shadow) {
  box-shadow: 0px 0px 10px -1px rgb(216, 50, 66);
}

.btn-warning:hover:not(.no-shadow) {
  box-shadow: 0px 0px 10px -1px rgb(244, 184, 5);
}

.btn-info:hover:not(.no-shadow) {
  box-shadow: 0px 0px 10px -1px rgb(20, 139, 158);
}

.btn-light:hover:not(.no-shadow) {
  box-shadow: 0px 0px 10px -1px rgb(240, 243, 245);
}

.btn-dark:hover:not(.no-shadow) {
  box-shadow: 0px 0px 10px -1px rgb(49, 55, 60);
}

.btn-link:hover:not(.no-shadow) {
  background-color: rgba(0, 101, 211, 0.2);
}

.fab-area {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: calc(2rem + 12.5px) 2rem;
  z-index: 3;
}

.fab-button {
  border: none;
  border-radius: 23px / 50%;
  height: 46px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(56,56,56,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(56,56,56,0.75);
  box-shadow: 0px 0px 20px 0px rgba(56,56,56,0.75);
  margin-left: 1rem;
  min-width: 47px;
}

.fab-button .fas {
  font-size: 1.25rem;
  margin-top: 7px;
}

.fab-action {
  border-radius: 23px / 50%;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(56,56,56,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(56,56,56,0.75);
  box-shadow: 0px 0px 20px 0px rgba(56,56,56,0.75);
  background-color: white;
  overflow: hidden;
  margin-left: 1rem;
  margin-bottom: calc(-1rem - 3px);
  width: 160px;
  z-index: 100;
}

.fab-action .fab-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 0;
  border-radius: unset;
}

.fab-action ul {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  height: 0;
  display: none;
}

.fab-action ul li {
  opacity: 0;
}

.fab-action .fab-action-item {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
  padding: .375rem .75rem;
  border-radius: unset;
  text-align: left;
  text-transform: initial;
  display: block;
  width: 100%;
}

.fab-action .fab-action-item:not(.btn-danger):hover {
  background-color: #EEE;
}

.fab-action .fab-action-item.primary {
  background-color: #eaa615;
  color: white;
  border: none;
  height: 46px;
}

.fab-action .fab-action-item.primary:hover {
  background-color: #cc9012;
}

.fab-action .fab-action-item.primary span {
  margin-right: 5px;
}

.fab-action .fab-action-item .fas {
  width: 30px;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 7px;
  margin-right: 12px;
}

.fab-action.shown {
  border-radius: .5rem;
  width: 200px;
  animation: fab-action-anim;
  animation-duration: 250ms;
}

.fab-action.shown ul {
  display: block;
  height: 392px;
  animation: fab-action-height;
  animation-duration: 250ms;
}

.fab-action.shown ul li {
  opacity: 1;
  animation: fab-action-links;
  animation-duration: 400ms;
}

.fab-action.shown .fab-action-item .fas {
  animation: fab-action-icon 250ms linear;
}

@keyframes fab-action-anim {
  from {
    border-radius: 23px;
    width: 160px;
  }
  to {
    border-radius: .5rem;
    width: 200px;
  }
}

@keyframes fab-action-height {
  from {
    height: 0;
  }
  to {
    height: 392px;
  }
}

@keyframes fab-action-links {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  50% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fab-action-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

#activate-settings {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
  z-index: 98;
  box-shadow: none;
}

#activate-settings .fas {
  margin-left: 2px;
}

#activate-settings span {
  display: none;
}

@media (min-width: 768px) {
  #activate-settings span {
    display: inline;
  }
}

.tab-delete-button {
  background-color: red;
  border: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 8px;
  margin: 2px;
  cursor: pointer;
  padding: 0 5px 0 5px;
  border-radius: 50%;
}

.card-title > :not(a) {
  font-family: 'Roboto Slab';
}

#new-schedule-body input.form-control::placeholder {
  color: #bbb;
}

input.period-control,
input.period-control:focus {
  border-color: #007bff;
  color: #007bff;
}

.now {
  background-color: rgba(0,123,255,0.2)
}

div.now-neue {
  position: relative;
}

div.now-neue::before {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  left: -5px;
  top: -4px;
  background-color: #007bff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#time-container {
  color: black;
  margin: 0 auto;
  z-index: 1;
}

#time-bar-total {
  background-color: #ddd;
  width: 100%;
  text-align: center;
  height: 25px;
  z-index: 1;
}

#time-bar-elapsed {
  position: absolute;
  top: 0;
  background-color: #007bff;
  height: 25px;
  z-index: -1;
  text-align: center;
  float: left;
}

#percent-container {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  color: #000;
  padding-right: 5px;
  z-index: 1;
}

#time-display {
  display: inline-block;
  margin-right: 2px;
  text-align: right;
  width: 70px;
}

#newTask {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

#taskDue {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

#newTaskSelectionGroup>:first-child {
  border-top-left-radius: 0;
}
#newTaskSelectionGroup>:last-child>button {
  border-top-right-radius: 0;
}

table {
  font-size: .8rem;
}

td.now {
  background-color: rgba(0,123,255,0.2)
}

.link-edit input {
  border-radius: 0;
}

.link-edit input:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom: none;
}

.link-edit input:last-child {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top: none;
}

a.text-dark {
  text-decoration: none;
}

.badge-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border: 1px solid #6c757d;
}

.active > .badge-outline-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

#show-wspn {
  top: 0;
  left: 0;
}

#wspn-clickaway,
#settings-clickaway {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
}

#wspn-clickaway {
  z-index: 99;
}

#wspn-container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 350ms ease-out;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  background-color: #fff;
}

#wspn-container .overflow-box {
  width: 332px;
  height: 100vh;
  overflow-y: auto;
}

#wspn-container .wspn-title {
  font-size: 36px;
  margin: 1rem;
}

#wspn-container .card-link:not(.text-muted) {
  display: inline-block;
  padding: .5rem 1rem .5rem 0;
  border-radius: .25rem;
  transition: background-color 200ms, box-shadow 200ms, padding 300ms;
}

#wspn-container .card-link:not(.text-muted):hover {
  background-color: rgba(234, 166, 21, 0.1);
  box-shadow: 0px 0px 6px -1px rgba(234, 166, 21, 0.1);
  padding: .5rem 1rem;
}

#wspn-container #close-wspn,
#wspn-container #close-wspn svg {
  width: 24px;
  height: 24px;
}

#close-wspn {
  color: #212121;
  float: right;
  margin-right: 3px;
  margin-top: -3px;
}

#wspn-container #close-wspn:hover {
  color: #dc3545;
}

#wspn-link {
  color: #212121;
}

#rss-feed .card {
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
  transition: box-shadow 200ms, opacity 200ms;
}

#rss-feed .card:hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0,0,0,.2);
  box-shadow: 0px 1px 35px 0px rgba(0,0,0,.2);
}

#rss-feed .card .card-title {
  font-family: 'Roboto Slab'
}

#rss-feed .card a {
  color: #eaa615;
}

.tooltip .tooltip-inner {
  background-color: #303030;
  padding: 4px 10px;
  border-radius: .25rem;
  animation-name: fadein;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  -webkit-box-shadow: 0px 1px 10px -2px rgba(33,33,33,.75);
  -moz-box-shadow: 0px 1px 10px -2px rgba(33,33,33,.75);
  box-shadow: 0px 1px 10px -2px rgba(33,33,33,.75);
}

.tooltip .arrow {
  display: none;
}

.tooltip.warning .tooltip-inner {
  background-color: #dc3545;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  80% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

div.card-img-top {
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-position: center;
}

.loader {
  border: 5px solid transparent;
  border-top: 5px solid #eaa615;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: calc(50vh - 85px);
  animation: loader_spin 1s linear infinite;
}

@keyframes loader_spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a.input-group-text:hover {
  text-decoration: none;
}

.link-edit-icon {
  width: auto;
  height: 1rem;
  display: inline-block;
  margin-right: 1rem;
  margin-top: .28rem;
}

.modal-content,
.modal-header,
.modal-footer {
  border: none;
}

.modal-title {
  font-size: 1.75rem;
  margin: .5rem 0rem;
}

.modal-content {
  border-radius: .5rem;
  -webkit-box-shadow: 0px 0px 3.2rem -.5rem rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3.2rem -.5rem rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3.2rem -.5rem rgba(0,0,0,0.75);
}

.modal-body hr {
  margin: 1rem -1rem;
}

.changelog-type {
  border-radius: 12.5px;
  background-color: rgba(234, 166, 21, 0.1);
  padding: .25rem .75rem;
}

.card {
  border-radius: .5rem;
  border: none;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,.3);
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,.3);
}

#linksDropdown {
  margin: 0 1rem;
  width: calc(100vw - 2rem);
  font-size: 1.25rem;
}

[aria-labelledby="linksDropdown"] {
  width: calc(100vw - 2rem);
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0,0,0,.2);
  box-shadow: 0px 1px 35px 0px rgba(0,0,0,.2);
}

[aria-labelledby="linksDropdown"] .dropdown-item {
  font-size: 1.25rem;
}

[aria-labelledby="linksDropdown"] .dropdown-item .link-edit-icon {
  margin-top: -.25rem;
  height: 1.25rem;
}

.custom-checkbox.lead .custom-control-label::before {
  top: .35rem;
}

#schedule-table-div {
  width: 100%;
  overflow-x: auto;
}

.list-delete {
  margin-left: 6px;
  margin-right: 22px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.list-delete:hover {
  text-decoration: none;
}

.display-4 a {
  color: #343a40;
}

body.dark .card,
body.dark .close,
body.dark .display-4 a,
body.dark .fab-action,
body.dark .fab-action .fab-action-item:not(.btn-danger):not(.primary),
body.dark input,
body.dark input:focus,
body.dark .list-delete,
body.dark .list-group-item,
body.dark .modal-content,
body.dark .popover-header,
body.dark .popover-body,
body.dark select,
body.dark select:focus,
body.dark #close-wspn,
body.dark #wspn-container,
body.dark #wspn-link {
  background-color: #343a40;
  color: #fff;
}

body.dark input,
body.dark .popover-header,
body.dark .table-bordered,
body.dark .table-bordered td,
body.dark .table-bordered th,
body.dark select {
  border-color: #404951;
}

body.dark .fab-action .fab-action-item:not(.btn-danger):not(.primary):hover {
  background-color: #23272b;
}

body.dark .close {
  text-shadow: 0px 1px 0 #23272b;
}

body.dark .close:hover {
  color: white !important;
}

body.transparency .card {
  opacity: .85;
  transition: opacity 200ms;
}

body.transparency .card:hover {
  opacity: 1;
}

[data-toggle="popover"]:focus {
  outline: none;
}
