@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');
@import url('https://fonts.googleapis.com/css?family=Fahkwang');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Text+Me+One');

html {
  overflow-x: hidden;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.font-sans-serif {
  font-family: sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-roboto-slab {
  font-family: 'Roboto Slab', sans-serif;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.font-chakra-petch {
  font-family: 'Chakra Petch', sans-serif;
}

.font-bai-jamjuree {
  font-family: 'Bai Jamjuree', sans-serif;
}

.font-fahkwang {
  font-family: 'Fahkwang', sans-serif;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-text-me-one {
  font-family: 'Text Me One', sans-serif;
}

#title-container {
  color: white;
  text-shadow: 0 0 5px #000;
}

.img-link img {
  width: 100%;
  height: auto;
  vertical-align: middle
}

.action-button {
  background-color: #eaa615;
  border-color: #d69713;
  z-index: 1;
}

.action-button:hover {
  background-color: #cc9012;
}

.fab-area {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2rem;
}

.fab-button {
  border: none;
  border-radius: 23px;
  height: 46px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(56,56,56,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(56,56,56,0.75);
  box-shadow: 0px 0px 20px 0px rgba(56,56,56,0.75);
  margin-left: 1rem;
}

.fab-button .fas {
  font-size: 1.25rem;
  margin-top: 7px;
}

#activate-settings {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 2;
}

#activate-settings .fas {
  margin-left: 2px;
}

#activate-settings span {
  display: none;
}

@media (min-width: 768px) {
  #activate-settings span {
    display: inline;
  }
}

.tab-delete-button {
  background-color: red;
  border: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 8px;
  margin: 2px;
  cursor: pointer;
  padding: 0 5px 0 5px;
  border-radius: 50%;
}

.row {
  padding: 0 15px;
}

.card-title > :not(a) {
  font-family: 'Roboto Slab';
}

input.period-control,
input.period-control:focus {
  border-color: #007bff;
  color: #007bff;
}

#time-container {
  color: black;
  margin: 0 auto;
  z-index: 1;
}

#time-bar-total {
  background-color: #ddd;
  width: 100%;
  text-align: center;
  height: 25px;
  z-index: 1;
}

#time-bar-elapsed {
  position: absolute;
  top: 0;
  background-color: #007bff;
  height: 25px;
  z-index: -1;
  text-align: center;
  float: left;
}

#percent-container {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  color: #000;
  padding-right: 5px;
  z-index: 1;
}

#time-display {
  display: inline-block;
  margin-right: 2px;
  text-align: right;
  width: 70px;
}

#newTask {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

#taskDue {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

#newTaskSelectionGroup>:first-child {
  border-top-left-radius: 0;
}
#newTaskSelectionGroup>:last-child>button {
  border-top-right-radius: 0;
}

table {
  font-size: .8rem;
}

td.now {
  background-color: rgba(0,123,255,0.2)
}

.link-edit input {
  border-radius: 0;
}

.link-edit input:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom: none;
}

.link-edit input:last-child {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top: none;
}

a.text-dark {
  text-decoration: none;
}

.badge-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border: 1px solid #6c757d;
}

.active > .badge-outline-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

#show-wspn {
  top: 0;
  left: 0;
}

#wspn-container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 350ms ease-out;
}

#wspn-container .overflow-box {
  width: 332px;
  height: 100vh;
  overflow-y: auto;
}

#wspn-container .wspn-title {
  font-size: 36px;
  margin: 1rem;
}

#wspn-container #close-wspn,
#wspn-container #close-wspn svg {
  width: 24px;
  height: 24px;
}

#wspn-container #close-wspn {
  color: #fff;
  float: right;
  margin-right: 3px;
  margin-top: -3px;
}

#wspn-container #close-wspn:hover {
  color: #dc3545;
}

#rss-feed .card .card-title {
  font-family: 'Roboto Slab'
}

#rss-feed .card a {
  color: #eaa615;
}

.tooltip .tooltip-inner {
  background-color: #303030;
  padding: 4px 8px;
  animation-name: fadein;
  animation-duration: 150ms;
  animation-timing-function: ease-out;
  -webkit-box-shadow: 0px 1px 10px -2px rgba(33,33,33,.75);
  -moz-box-shadow: 0px 1px 10px -2px rgba(33,33,33,.75);
  box-shadow: 0px 1px 10px -2px rgba(33,33,33,.75);
}

.tooltip .arrow {
  display: none;
}

.tooltip.warning .tooltip-inner {
  background-color: #dc3545;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

div.card-img-top {
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-position: center;
}

.loader {
  border: 5px solid transparent;
  border-top: 5px solid #eaa615;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: calc(50vh - 85px);
  animation: loader_spin 1s linear infinite;
}

@keyframes loader_spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a.input-group-text:hover {
  text-decoration: none;
}
