html {
  overflow-x: scroll;
}

body {
  background-image: url("../img/school.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.h1, .h2, .h3, .h4, .h6, h1, h2, h3, h4, h6 {
  color: white;
  text-shadow: 0 0 5px #000;
}

.img-link img {
  width: 100%;
  height: auto;
  vertical-align: middle
}

.action-box {
  background-color: #eee;
  color: #000;
  width: 30%;
  min-width: 300px;
  position: fixed;
  border-radius: 4px;
}

#add-tab {
  margin-bottom: 4rem;
  margin-right: 1rem;
  bottom: 0;
  right: 0;
}

#remove-tab {
  margin-right: 1rem;
  margin-bottom: 1rem;
  right: 0;
  bottom: 0;
}

.checkbox {
  display: block;
  position: relative;
  margin: 5px;
  padding-left: 40px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  width: 33px;
  background-color: #eee;
  border-radius: 2px;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #eaa615;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 12px;
  top: 4px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#add-tab-attributes input[type=text] {
  width: 100%;
  padding: 9px 15px;
  margin: 6px 0px;
  display: inline-block;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  box-sizing: border-box;
}

#add-tab-attributes input[type=button] {
  background-color: #eaa615;
  border: none;
  color: #000;
  border-radius: 4px;
  padding: 5px 12px;
  font-size: 12px;
  border: 2px solid #008cba;
  transition-duration: 0.4s;
  display: block;
  margin: 0 auto;
}

#add-tab-attributes input[type=button]:hover {
  background-color: #eee;
}

.tab-delete-button {
  background-color: red;
  border: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 8px;
  margin: 2px;
  cursor: pointer;
  border-radius: 50%;
}

.row {
  padding: 0 15px;
}

.card .card-title,
.card .card-body {
  color: black !important;
  text-shadow: none !important;
}

input.period-control,
input.period-control:focus {
  border-color: #007bff;
  color: #007bff;
}

#time-container {
  color: white;
  margin: 0 auto;
  z-index: 1;
}

#time-bar-total {
  background-color: #ddd;
  width: 100%;
  text-align: center;
  height: 25px;
  z-index: 1;
}

#time-bar-elapsed {
  position: absolute;
  top: 0;
  background-color: #007bff;
  height: 25px;
  z-index: -1;
  text-align: center;
  float: left;
}

#percent-container {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  color: #eee;
  padding-right: 5px;
  z-index: 2;
}
