@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-roboto-slab {
  font-family: 'Roboto Slab', sans-serif;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.nav-link.disabled {
  cursor: default;
}

.modal-content {
  -webkit-box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, .15);
  box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, .15);
  padding-bottom: 71px;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

input.period-control,
input.period-control:focus {
  border-color: #007bff;
  color: #007bff;
}

.now {
  background-color: rgba(0,123,255,0.2)
}

.loader {
  border: 5px solid transparent;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 3rem 0rem;
  animation: loader_spin 1s linear infinite;
}

@keyframes loader_spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}